body {
    background-color:lightskyblue;
}

button {
    margin: 10px auto;
    display: block;
    padding: 5px;
    border-radius: 5px;
}

.grid {
    height: 90vh;
    width: 90vh;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    border: 1px solid black;
}

.square {
    flex: 1 1 5.625vh;
    border: 1px solid black;
    box-sizing: border-box;
}