body {
    background-color:lightskyblue;
}

.grid {
    height: 96vh;
    width: 96vh;
    margin: auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    border: 1px solid black;
}

.square {
    flex: 1 1 6vh;
    border: 1px solid black;
    box-sizing: border-box;
}

.hover {
    background-color: rgba(255, 255, 0, 0.75);
}